[2021-08-11 07:50] NickLiffen opened #1 "Enable GHAS on each repository before creating the codeql-analysis file."
- Enable GHAS on each repository before creating the codeql-analysis file.

[2021-08-11 07:57] NickLiffen opened #2 "Auth from a GitHub App, not a PAT"
Instead of authing from a GitHub PAT, it would be better to auth from a GitHub App.

[2021-09-14 15:27] ghost opened #3 "Code scanning support for other programming languages"
Please extend the support for projects running with Python, Java  etc..

[2021-09-14 15:53] NickLiffen commented on #3
Thanks @nawinto99 for your issue 💯 What do you mean extend support for projects running with Python, Java?

Do you mean provide a sample file for Python, Java, etc? Right now there is only a sample file for JavaScript, would you like one for other languages?

Just to clarify :)

[2021-09-14 16:07] nawinto99 commented on #3
Exactly @NickLiffen

- What if a project having multiple programming languages? ?
- Is there a way to automatically detect languages and replace the language matrix rather than hardcoding it?

[code]

[2021-09-14 16:18] NickLiffen commented on #3
We could look at doing this 👍 I think the workflow would be a little different per repository, which may make this hard, however, I think we could do a better job around automation.

I am happy to add this as a backlog item and I will address it once I can 👍

I appreciate the feedback and once I have something to share I will tag you on it 💯

[2021-09-14 16:19] NickLiffen commented on #3
You are also more then welcome to PR if you like 👍 Just an FYI 💯

[2021-09-14 16:30] nawinto99 commented on #3
@NickLiffen Thank you, I'll give it a shot 👍

[2021-09-14 16:41] NickLiffen commented on #3
100% 👍

If you would like to share your thoughts _before_ you start coding we can align on the best approach to do this. Once we are aligned you can get coding 👨‍💻 if that works with you?

Just to make sure we both agree on how to do this 👍 Thanks for contributing though :) Would be very open to your thoughts.

[2021-09-14 17:06] nawinto99 commented on #3
Currently, CodeQL does not support all programming languages, and the workflow would be slightly different for compiled and interpreted languages. We will create a module that collects the languages used in the GitHub project and selects only those that CodeQL currently supports.

The above is the one that comes to mind right now. If you have any other thoughts, please let me know and we'll talk a

[2021-09-14 17:49] NickLiffen commented on #3
I was more thinking technically, how would we go about doing this? 🤔

Firstly, I think we break this task down into two steps:

** Use Case 1 - Be able to accommodate for single language repos, other then JS **

Firstly, I think we update the `get-repo` script and [here](https://github.com/NickLiffen/ghas-enablement/blob/main/src/utils/getRepoForUser.ts#L24), where we return the name and repo, we

[2021-09-15 06:19] nawinto99 commented on #3
- Create a specific codeql-analysis.yml file for every language. E.G python, go javascript. (we would only pick the [0] element in the languages array, so we would only pick one language.
 `Create multiple workflows for every language is simple, however, multiple workflows that have a significant impact on billing, [more info](https://docs.github.com/en/billing/managing-billing-for-github-actions/

[2021-09-15 06:26] nawinto99 commented on #3
Firstly, I think we update the get-repo script and here, where we return the name and repo, we also return the language. I think that's step one. Let's get the language being returned. It will have to be an array of languages I think.
`Yes, this is great. Thank you. I considered making a separate one, but there is no longer a need for it. 👍 `

[2021-09-22 15:00] NickLiffen commented on #3
@nawinto99 just thought I would check back in and see how this is going? 👍

[2021-09-23 12:29] nawinto99 commented on #3
![image](https://user-images.githubusercontent.com/79765453/134506341-bc2a4e76-3dec-43d7-ae75-cdae54d379e0.png)

I'm getting the above error, and I'd like to discuss a few things, shall we connect once and talk?

[2021-10-30 07:32] NickLiffen commented on #1
Done 👍

[2021-10-30 07:32] #1 closed

[2021-10-30 08:12] NickLiffen opened #10 "Create an Issue on Repository & Connect Issue to Pull Request"
As a developer on a project where the pull request has been proposed, I would like to be informed a little about what to do with the file, so I can take appropriate action(s). To some developers, the pull request may be confusing and without any detailed information, it may be hard to comprehend and actually do something with. It would be nice if there was a correlating issue that could go alongsi

[2021-10-30 08:15] NickLiffen opened #11 "For the language script; only return repositories where the language specified is the default (primary) language"
As an org admin (or team admin) running this script, the language script can be quite broad and return repositories where the language is only used across 1% of the repository, this is inefficient and not relevant. I would like only to return the languages that are primary, so I know the pull requests I create can be targeted and precise.

[2021-10-30 08:15] NickLiffen commented on #11
@ataylorme I know you had some interest in this 👍

[2021-10-30 08:24] NickLiffen opened #12 "Filter Out Repositories that already have a CodeQL Analysis Upload"
As a consumer of this script, I do not want to be hit with a pull request for a `codeql-analysis.yml` file if I am already using CodeQL. So, I would like this script to check if there has already been a codeql upload, and if so, do not include my repository within the `repos.json`.

[2021-10-30 08:36] NickLiffen commented on #12
For this, we are likely going to have to hit this endpoint: [List code scanning analyses for a repository](https://docs.github.com/en/rest/reference/code-scanning#list-code-scanning-analyses-for-a-repository). If advanced security is not enabled it will throw an error, so if this error is thrown we can be 100% confident that it hadn't been enabled. If it doesn't throw an error, then we know GHAS h

[2021-10-30 08:38] NickLiffen opened #13 "Create a directory of template codeql-analysis.yml files"
Right now, we just include a sample `codeql-analysis.yml` for JavaScript. It would be great if we could create a directory of templates and then have them called something like `codeql-analysis-${language}.yml`. We would then match the ${language} found within the `process.env.LANGUAGE` to the language found within the `codeql-analysis-${language}.yml`. That would make it more of a scalable soluti

[2021-10-30 08:43] NickLiffen commented on #11
This is an example query that could get that information:

[code]

I guess the problem here is it would have to loop through **every** repo. It would be nice to find a way to look through languages where the default language is `X` and it returns the repository, not the other way around.

[2021-10-30 08:44] NickLiffen commented on #11
I am sure this is possible, just need some digging into the API.

[2021-10-30 14:00] ataylorme commented on #11
@NickLiffen digging into GitHub search I believe this is the existing behavior of your code as [you are using the search API with the `languages` filter](https://github.com/NickLiffen/ghas-enablement/blob/1ecf3a47ca3170ce4506b7905d40413b31016067/src/utils/getRepoByLanguage.ts#L17:L21)

The language filter in search queries only returns repos with that language as the primary language, not repos wi

[2021-10-30 15:18] NickLiffen commented on #11
@ataylorme ah amazing 🎧 I think we need to do a better job updating our docs then as it mentions "language includes" 🤦

Thanks for raising this up 💯 I will go ahead and close this issue.

[2021-10-30 15:18] #11 closed

[2021-10-30 15:22] NickLiffen commented on #3
Going to close this issue out, as going to track this in #13

[2021-10-30 16:56] #2 closed

[2021-10-30 17:09] #3 closed

[2021-11-09 14:25] #10 closed

[2021-11-09 15:22] tew9ey opened #19 "Windows having issue with the command format"
@NickLiffen
The commands and file structures don't work so well on windows, for example, using "/" on windows gives Error: spawn C:\Windows\system32\cmd.exe ENOENT, improvement was to detect the platform in which the user works on and use "\" if it's a window or "/" if it's a mac.

- using a Desktop as a destination on a windows machine can be **ambiguous** for some **organizations like EY,** as t

[2021-11-09 15:30] NickLiffen commented on #19
@tew9ey 👋

right now, there are no windows commands. check this out [here](https://github.com/NickLiffen/ghas-enablement/blob/main/src/utils/commands.ts#L44).

I don't have a Windows machine, so can't actually test out 😢 If possible I would really need someone who has a Windows machine to copy the mac commands (found [here](https://github.com/NickLiffen/ghas-enablement/blob/main/src/utils/commands

[2021-11-09 15:32] tew9ey commented on #19
@NickLiffen
I agree with you, well I'll try the best I can to try to make it work for windows and will create a PR once it's done.
thank you for the clarification @NickLiffen

[2021-11-09 15:35] #19 closed

[2021-11-09 15:35] NickLiffen commented on #19
Amazing @tew9ey if you could it would be AMAZING 🎧

You are going to likely want to add a step to _check_ if the user is on a windows or mac machine; and based off that; either run the Windows or Mac commands.

Doing a **quick** google, you could do [this](https://stackoverflow.com/questions/10527983/best-way-to-detect-mac-os-x-or-windows-computers-with-javascript-or-jquery).

Bascially what I see

[2021-11-09 15:39] NickLiffen opened #20 "Support Windows Commands :)"
As an end-user of this utility; I would like to be able to run this on Windows, and not just mac, so I can use the tool without getting errors.

The way that I would go about implementing is:

1) Add a small function that detects the OS of the user. E.G (windows, linux, windows, etc)

2) Add the windows commands [here](https://github.com/NickLiffen/ghas-enablement/blob/main/src/utils/commands.ts#L

[2021-11-09 15:40] NickLiffen commented on #20
@tew9ey ^^^ I have invited you to collaborate on this repository 👍

[2021-11-09 15:43] tew9ey commented on #20
thank you @NickLiffen will do the best I can and let you know If I get stuck anywhere.

[2021-11-09 15:53] NickLiffen commented on #20
No problem 👍 once you are ready to PR please let me know and I am **more** then happy to help 👍

[2021-11-10 18:14] tew9ey commented on #20
Hello @NickLiffen,
I have created the PR but I think the code scanning is failing on the existing code, not the newly added codes.
Let me know If you have any questions or suggestions.

[2021-11-16 08:38] NickLiffen commented on #20
@tew9ey I am **so sorry** for not responding 😢 I had my laptop and a few things stolen so todays my first day back 💯 I will look into this first thing tomorrow if that's good with you? I will fix the security problem. I agree that isn't your code 💯
Great work btw 👍

[2021-11-16 15:21] tew9ey commented on #20
unfortunate to hear that @NickLiffen , hopefully it's only material lost and you're safe. It's all understood.

[2021-11-19 11:05] #12 closed

[2021-11-19 17:19] GeekMasher opened #23 "Codeowner optional support"
Adding support for [Codeowner](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) as an optional flag so CodeQL or other security tools need to have a particular team (security teams typically) approve changes to that file.

Main use case is for developers teams not disabling Code Scanning if its a requirement.

[2021-11-19 17:23] NickLiffen commented on #23
I can make this an option 👍

[2021-11-19 17:33] NickLiffen commented on #20
Fixed in #21

[2021-11-19 17:33] #20 closed

[2021-12-06 18:04] NickLiffen opened #24 "Better Documentation for GHES 💯"
As an end-user, I would like better documentation on how to handle GHES with this tool 👍

[2022-01-26 10:22] #24 closed

[2022-03-23 14:53] thomasmebin opened #31 "Application error"
Hi @NickLiffen ,

I am facing some issues while using this application,

1. First time execution, repos are not listing based on the language filters ( "Found 0 repositories that met the valid criteria in the organisation"), but listing all the repos in our org, again the repos.json file is also empty.
2. Further executions, with or without changing the language filter, few errors are are showing,

[2022-03-23 19:14] NickLiffen commented on #31
Hey 👋

More than happy to help 👍 What have you got set within your `.env` file :)

Could you send it over but **please remove anything sensitive like credentials, github tokens, etc**.

Please remove them and replace with `xxx` 👍

[2022-03-24 08:02] mebin-thomas commented on #31
Please review,

![image](https://user-images.githubusercontent.com/77664686/159869790-507d8ec8-fd20-4819-9395-4d9d69c5cf84.png)

[2022-03-24 08:19] emilva opened #34 "Some feature requests"
Hi @NickLiffen 👋

Some feature requests to help us onboard on a per-team basis:

1. In step one: make it possible to gather repos by team rather than language (https://docs.github.com/en/rest/reference/teams#list-team-repositories)
2. Set the branch name in `codeql-analysis.yml` based on the repo's default branch name

[2022-03-24 09:22] NickLiffen commented on #31
Hey @mebin-thomas 👋

If you change `Python` to `python` that should work for the language.

It should work though if you leave language to check to: `LANGUAGUE_TO_CHECK=` and just add the `GITHUB_ORG=volvo-cars`. Are you getting an empty `repos.json` after running the script?

To confirm:

1. You have admin permission on repositories in the `volvo-cars` org, correct?
2. These repos are not archive

[2022-03-24 09:23] NickLiffen commented on #34
Thanks for the feedback @emilva 👍 I will try and get these features addressed as soon as I can 👍

[2022-03-24 10:20] emilva commented on #34
Great stuff @NickLiffen!

[2022-03-25 15:11] #13 closed

[2022-03-28 06:52] mebin-thomas commented on #31
@NickLiffen ,

Thanks for the reply, repo extract is working as expected.

Any chance of getting the repo owners/admins in the repo list ??

[2022-03-28 07:45] NickLiffen commented on #31
I can look into it, curiously, what would be the need? 🤔 💭

[2022-03-28 09:23] jorsmatthys opened #39 "Issue using GitHub App authentication"
We want to use this app with GitHub enterprise and have registered+installed this as a GitHub App under one of our organisations.

The first thing we notice when we try to use GitHub App authentication is that the _.env.sample_ has a key "APP_ID" while the code refers to the key "GITHUB_APP_ID". However, if we change that and we run the application we run into another issue.

The example below giv

[2022-03-28 09:30] NickLiffen commented on #39
Looking into this now 👍

[2022-03-28 09:50] NickLiffen commented on #39
@jorsmatthys I have a fix coming in #40 👍

Looks like there was a change to the package. Thanks for logging this 👍

[2022-03-28 10:36] jorsmatthys commented on #39
I confirm that it appears to work with GitHub App authentication now :) Thanks for the very quick fix !

[2022-03-28 10:40] #39 closed

[2022-03-28 15:39] mebin-thomas commented on #31
When we begin rolling out, we must commence communication, and if we can get admin list  we can start communicating the rollout strategy prior to the event.

[2022-03-28 19:51] joshjohanning opened #42 "Enable Dependabot security updates"
Right now, only Dependabot alerts are enabled if `ENABLE_ON=dependabot`.

It would also be nice to enable Dependabot security updates as well (perhaps as a switch?)

![image](https://user-images.githubusercontent.com/19912012/160475850-a0382fbe-ed7a-4077-bce4-af9e0178daa1.png)

[2022-03-29 05:12] agonzalez-plume commented on #34
For the default branch name, all you need to do is change the branches in the codeql-analysis.yml to say:

branches: [ $default-branch ]

When you check that file in, Github will change it to the default branch automatically

So do:

[code]

[2022-03-29 05:42] agonzalez-plume opened #45 "Speed up git clone"
I've got a modification to improve the throughput for my use case, which is just for committing a new workflow to repos. I was wondering if this change would be appreciated by others:

in src/utils/commands.ts: clone with options --depth 1, --filter=blob:none and --sparse. By cloning this way, the amount of data will be reduced. Not eliminated, but reduced.

[code]

These pages explain the concept

[2022-03-29 08:38] NickLiffen commented on #45
I am perfectly good with this 👍

If you are good to make a PR, but make it specific to the `maccomands` that would be amazing 👍

[2022-03-29 19:49] #42 closed

[2022-03-30 03:15] agonzalez-plume commented on #34
Ah, sorry the $default-branch really only works on the workflow templates, for checkins it doesn't work the same.

[2022-03-30 07:55] NickLiffen commented on #34
Yeah the way we would do this is doing some sort of template mapping where we replace a dummy value like `$placeholder` with the actual value. I have a mock up working, just need to spend some time getting it ready 👍

[2022-03-30 12:21] agonzalez-plume commented on #34
I got it working as a quick fix using command line tools, since this little 'glitch' made me have to re-run a whole bunch of git pushes.

commands.ts, and then I modified worker.ts, commitFile.ts to send down defaultBranch to commands.ts.
[code]

[2022-04-01 10:08] jorsmatthys opened #51 "Support multiple organizations with GitHub App Auth"
Hello,

I work at an enterprise that divided it's repositories over multiple organizations in GitHub. We prefer to use this tool with the GitHub App Auth authentication over PAT (private access token) .

Currently with a PAT that has been authorized on all your organizations, you can already run the getOrgs.js script and set GHAS features over multiple organizations with a single run of getRepos.j

[2022-04-01 15:40] jorsmatthys opened #52 "Support scheduled/unattended runs"
We are trying to run this tool from a GitHub runner (macOS), on a schedule.
Currently this doesn't work completely yet because the git commands that are used to commit the codeql file rely on local ssh configuration or user prompts. We would like it if this part could also make use of the PAT / GitHub App auth.

I have tested a change for this locally which seems to work and added commands for wsl

[2022-04-04 10:14] jorsmatthys commented on #52
Apparently, GitHub Actions is smart enough to automatically mask the secret used to clone the repos on which pull-requests have to be created.
`
    command: 'git',
    args: [
      'clone',
      '***github.com/liantisit-github-automation-poc/hcl-repo.git'
    ],
`
So maybe it is fine not to do anything specific for this. If you run it locally it would not be a huge problem either.
If it does ne

[2022-04-05 09:39] mebin-thomas commented on #31
@NickLiffen ,

Can you able to implement the above requested functionality too??

[2022-04-05 10:43] NickLiffen commented on #31
Hey @mebin-thomas

I can add it to the backlog but there are other things I would like to tackle on this project first.

This weekend I am going to be doing some work on this project, but I will prioritise some other features, as they are asked of more.

I will add this to the backlog 💯

[2022-04-07 17:16] djthornton1212 opened #53 "Incompatible Node Version"
# Problem:
Yarn states that this module is incompatible with my version of node. The documentation states

I'm running 17 and it fails. I can see that in the package.json it explicitly sets:

[code]

# System Info:

System OS: Windows
NodeJS: 17.5.0

# Logs:

# Expected behavior:
The module should accept engines versioned 16 or higher.

# Suggested fix:
[code]

[2022-04-07 17:21] djthornton1212 opened #54 "Typescript install error"
# Problem:
npx fails to install typescript

# System Info:
System OS: Windows
NodeJS: 17.5.0

# Logs:

# Expected behavior:
Yarn will successfully install typescript

[2022-04-07 17:26] NickLiffen commented on #53
Fixed #55 👍

Thanks for the feedback :)

[2022-04-07 17:26] #53 closed

[2022-04-07 17:27] djthornton1212 commented on #53
Happy to help. Thanks for creating this life/timesaver.

[2022-04-07 17:28] NickLiffen commented on #54
Hey @djthornton1212 👋

Do you have typescript installed on your machine? 🤔

I can't seem to replicate this 🤔

Are you able to run it in a Codespace by any chance?

[2022-04-07 17:30] djthornton1212 commented on #54
No, it wasn't. I didn't realize it was a requirement. I manually installed it and now it's working.

[2022-04-07 17:32] NickLiffen commented on #52
Hey @jorsmatthys 👋 sorry for not responding to this 🙇 I have been a bit busy recently so firstly please accept my apologise 🙇

This was going to be my thought 💭 I don't think this is a problem to be honest because we should mask the token as shown above 👍

I would love this ❤️ if you could update the `README.md` when you do it, it would be amazing :) I would defiantly appreciate this PR 🙇

I think

[2022-04-07 17:34] djthornton1212 commented on #54
This should probably go into another issue, but it's complaining that my `repo` scope isn't enough:

Want me to open a separate issue for the documentation change on that one?

[2022-04-07 18:37] NickLiffen commented on #54
Thanks for the note 👍 I updated the `README.md` here: #56

[2022-04-07 18:39] NickLiffen commented on #54
Fixed that #57

Thanks so much for all this feedback 🙇

[2022-04-07 18:40] #54 closed

[2022-04-07 18:40] NickLiffen commented on #54
Feel free to open more issues as you see them 👍

Also, please feel free to raise a pull request if you feel confident 🙇

[2022-04-07 18:42] djthornton1212 commented on #54
No problem. Happy to be of assistance. I'm currently troubleshooting why the app is getting a null returned on the getOrgs. I've put it in GitHub's GraphQL explorer and it works fine. Once I figure more out I'll open a new one.

Thanks!

[2022-04-07 18:47] NickLiffen commented on #54
If you are running `getOrgs` you will have to use a `PAT` 🙇 I don't think it will work with a GitHub App, as the GitHub App here is tied to an org 😢

So if you want to run this across multiple orgs, use a `PAT` (I eventually want to support a github app across multiple orgs, but right now it's just a single org ❤️

[2022-04-07 18:48] djthornton1212 commented on #54
Yeah, that's what I'm doing.

I'll open a new issue with what I'm seeing.

[2022-04-07 18:56] djthornton1212 opened #58 "Cannot read properties of null (reading 'organizations')"
# Problem:
`yarn run getOrgs` returns error: `TypeError: Cannot read properties of null (reading 'organizations')`

Please excuse all the sanitation, my company's shy.

# System Info:
System OS: Windows
NodeJS: 17.5.0

# .env Config:
GITHUB_API_TOKEN=ghp_
GITHUB_ENTERPRISE=<private_company_name>

All other configs are default

# Logs:

# Expected behavior:
Returned organizations from Enterprise qu

[2022-04-07 18:58] djthornton1212 commented on #58
Does it matter that everything in the organization's private?

I would imagine that the PAT would be enough. I have admin access to the enterprise and used the repo scope.

[2022-04-07 19:04] NickLiffen commented on #58
Thanks for logging 🙇

Is this on GHEC I assume? :) As you are using the explore? This isn't a server instance? This is on github.com/xxx :)

[2022-04-07 19:04] djthornton1212 commented on #58
Correct. It's GHEC.

[2022-04-07 19:06] NickLiffen commented on #58
Okay 👍 give me some time to debug this 🤔 I just quickly tested and it worked.

Just making sure you are putting in the right enterprise? This is case sensitive so make sure you are entering the right enterprise and it's in the right case 👍

[2022-04-07 19:07] djthornton1212 commented on #58
Yeah, I double checked that. At first it was wrong as GitHub has it as `<name>-trail`. I fixed that in the explorer and it worked fine.

[2022-04-07 21:26] djthornton1212 commented on #58
I'm not a javascript developer, but the typescript -> javascript is confusing. However, I think I've narrowed it down to [here](https://github.com/NickLiffen/ghas-enablement/blob/4bed1ab185ea8a762c418591a619ca2ec8752710/src/utils/getOrganisationsInEnterprise.ts#L20). I'm not getting to the return.

[2022-04-07 23:50] djthornton1212 commented on #58
Ok, I figured it out.

Turns out that in order to read the enterprise's organizations the PAT needs at least `read:enterprise`:
![image](https://user-images.githubusercontent.com/99346713/162337171-d6e24b25-11a9-482b-8e95-c2b2df74fd5f.png)
🤦‍♂️

[2022-04-07 23:50] #58 closed

[2022-04-08 07:55] NickLiffen commented on #58
Ah, @djthornton1212 😮‍💨 I'm so sorry that wasn't documented 😢

Thank you for sharing how to fix that 🙇

I have gone ahead and updated the `README.md` here: #59 ❤️

[2022-04-08 13:26] djthornton1212 commented on #58
Thanks, it was an interesting exercise troubleshooting.

[2022-04-08 17:35] NickLiffen commented on #51
Hey @jorsmatthys 👋

So I am trying to figure out how this is going to work 🤔

Would the github app not have to be installed on every org beforehand? And every github app would have its own App ID and App Private Key 🤔

I have done some digging and can't seem to have an app installed across multiple organisations easily 😢

If there was an idea of an enterprise app, that would be amazing! but I don'

[2022-04-08 21:23] jorsmatthys commented on #51
Hello :)

Apps that we host ourselves, we configure them under only one organisation, and then we can easily install them to all other organisations. So there is only one App ID and one App Private Key in that case.

![app_install_page](https://user-images.githubusercontent.com/67681021/162532386-e092b05f-edb3-4490-a74b-31740736cf2e.PNG)

To make the install buttons for the other organisations vis

[2022-04-08 22:41] djthornton1212 opened #61 "Failing commands in Windows Powershell & gitBash"
**Note** I'm not done with my test, it's just the end of the day for me right now and need to head out. I'll come back to this with anything more I find. Hopefully you'll do a better job at getting to the root of it than I have. Thanks!

# Problem:
When attempting to run `yarn run start` after getOrgs & getRepos in PowerShell I received the following error:
`Error: spawn mkdir ENOENT`

When attemp

[2022-04-09 22:37] jorsmatthys commented on #52
Hi again @NickLiffen.
Thanks for the positive feedback :) ! I created a pr. Let me know if you still want something changed.

[2022-04-11 11:02] NickLiffen commented on #52
Conversation now in #62

[2022-04-11 11:06] NickLiffen commented on #61
Hey @djthornton1212 👍

Thanks for the feedback 🙇

So I don't have a Windows machine, and the only windows machine I would be able to test this on is a [Windows Codespace](https://github.com/features/codespaces). So this one may be tricky for me 😢

This should work on Windows though? But I don't know about Powershell 🤔

I will see if I can get a Windows machine and do some investigations.

The wind

[2022-04-11 11:42] NickLiffen commented on #45
@agonzalez-plume this should now be merged in 🙇

[2022-04-11 11:42] #45 closed

[2022-04-11 11:44] NickLiffen commented on #34
@agonzalez-plume 🙇 this looks very nice 🙇

If you would like to touch this up and make it a bit more usable, I would love to see this in a pull request 🙇 I would be very open to including this. I don't know if it would work on Window, but on:

- Mac
- Linux
- Codspaces

It would be amazing 🙇

[2022-04-11 16:34] djthornton1212 commented on #61
Ok, so I've re-written the windows commands to use cmd:
[code]

These work all the way up to the checkout step (last above). Here it continuously dies on me with:

When I navigate to the repository folder the app creates and manually copy/paste that command in (powershell) it works as expected. I'm not sure why it's failing here or where to go next.

I'm approaching my deadline to make this work.

[2022-04-11 18:37] NickLiffen commented on #61
@djthornton1212 I would so test this on a Windows machine but I don't have any 😢

Have you looked at these articles:

1. [Stackoverflow](https://stackoverflow.com/questions/57054403/problem-with-npm-start-error-spawn-cmd-enoent)
2. [GitHub Issue](https://github.com/forcedotcom/salesforcedx-vscode/issues/1818#issuecomment-573710218)

I know they are all not directly related, but they are saying the

[2022-04-11 19:51] djthornton1212 commented on #61
Hey Nick, thanks for the response.

My company is relatively new to GitHub and we haven't purchased codespaces at this point in time.

The first article I have seen, the second I had not. In either case the path to sysetm32 is set in PATH on my system.

I've tested this in CMD, PowerShell, Git Bash and my WSL Ubuntu installation. None can make it all the way through the commands.

CMD:
- Running t

[2022-04-12 04:21] djthornton1212 commented on #61
Ok, so I went overboard and made a ...few changes. Got it working though. I'll push up my changes to my personal account so you can see what I did.

Short fix though, look at this [line](https://github.com/NickLiffen/ghas-enablement/blob/9cfd8b2fe3c825f9145427aaf1b4a9954662a20a/src/utils/commands.ts#L173). That should be `winUser`.

Also, the `rm` command isn't a thing in CMD cli, it is however an

[2022-04-12 21:20] djthornton1212 commented on #61
Hey Nick, sorry for the late response. I've posted what I've done [here](https://github.com/djthornton1212/ghas-enablement-fork/tree/feature-enhancements/bin).

Please note that I'm relatively new to JavaScript/TypeScript (2nd project I've actually touched), so it's not pretty. There was a lot of googling "what does ... do" lol.

In the end the changes work for me. I was able to test with my singl

[2022-04-13 07:06] NickLiffen commented on #61
@djthornton1212 do not worry about this whatsoever 🙇 we have all been new so you shouldn't have to worry about not knowing!

Great to hear 🙇

Is there any chance you could make a pull request from your `main` branch into this projects `main` branch, so I am able to see what has changed 👍 that will allow me to review/give feedback/merge some stuff in 👍 I am sure what you have done is valuable for o

[2022-04-13 07:07] #52 closed

[2022-04-13 11:34] NickLiffen commented on #51
@jorsmatthys 👋 just to make sure something, are you on GHES? (enterprise server)?

The problem with making this public on GHEC is anyone is able to install the app on their github instance I think. So it wouldn't be scoped to every org within your enterprise, it would be literally EVERY org in the whole of github.com 👀

I think this would work though for GHES. If you could confirm that, that would

[2022-04-13 13:14] jorsmatthys commented on #51
Hmmz interesting point you make. 😃
We are on GHEC and in our case, the public page of our app does not appear to be visible outside our enterprise. I just tried to access it while being logged in with my personal user, and no luck.  But that could be because of other settings at the enterprise level (nothing in our enterprise is made completely public).

Since the public page urls are like: https:

[2022-04-13 13:14] djthornton1212 commented on #61
Hey Nick,

     I can do that. I'll merge my feature branching then open a PR to yours.

[2022-04-15 15:55] djthornton1212 commented on #61
Hey Nick, I wasn't sure if you saw that I created a [PR](https://github.com/NickLiffen/ghas-enablement/pull/64) for this.

[2022-04-19 09:23] jorsmatthys commented on #51
@NickLiffen It seems like a hassle to have to configure multiple keys indeed, for me this can be closed for now but I leave it up to you :) I feel like a feature should be there to expose Apps internally. If I find a request for that which is still open, I will join the call.

[2022-04-27 16:01] NickLiffen commented on #51
HEy @jorsmatthys 🙇

this is 100% not your misconception at all 🙇 this is great feedback. I think, for now, getting this working is going to be quite complex. I chatted to a few internal people and I think the solution is to wait and see what comes this year to help solve this 👍 I will close this out for now, however, I will do some digging and once something becomes available, I will get around to

[2022-04-27 16:03] NickLiffen commented on #61
Hey @djthornton1212 I have been OOO 🙇 Today is my first day back, I am going to look at this now 👍

[2022-04-27 16:06] djthornton1212 commented on #61
@NickLiffen Great, I could use a vacay myself.

There are some conflicts from changes made after I started working on it. Let me know what you think.

[2022-05-02 07:43] jorsmatthys opened #65 "Repo with CodeQL analysis still receives pull requests"
Hello,

After some testing my colleague noticed an issue with the pull requests for the CodeQL. It looks like a bug.

**Expected behaviour**

**Actual behaviour**

Initially everything works as expected, ghas-enablement creates a pull request on our repository to add a CodeQL analysis workflow, we merge it, the CodeQL scan runs, but then on the next run of ghas-enablement, a new pull-request seems

[2022-05-02 15:33] jorsmatthys opened #66 "Option to enable Secret Scanning Push Protection"
I believe this is a relatively new GitHub feature. It also looks relatively straightforward to add it, since it can be enabled through the endpoint used to already enable secret scanning itself.
https://docs.github.com/en/enterprise-cloud@latest/rest/repos/repos#update-a-repository

I guess there is a related todo in the code that might be picked up as well:
[code]

[2022-05-03 06:49] jorsmatthys commented on #66
Oh I see now you already made a branch named push protection :)

[2022-05-03 21:16] NickLiffen commented on #66
@jorsmatthys would you like to give my PR a review #67 🙇

I would love your 👀 on it 👍 feel free to propose any changes 👍

[2022-05-03 21:18] NickLiffen commented on #65
@jorsmatthys yup I was able to replicate this 😢 This logic got removed in one of the releases as it was burning through API calls, this shouldn't be too hard to re-introduce, I just need to find a way to do it in an optimal way 👍

I am on the case for this and will keep you posted 👍 this is a bug/feature 😂 I will get on this asao 💯 hopefully Thursday this week 👍

[2022-05-04 08:13] NickLiffen commented on #66
I just had another review and merged it in 🙇

Let me know if you have any feedback 🙇

[2022-05-04 08:13] #66 closed

[2022-05-04 08:13] NickLiffen commented on #66
Fixed in #67

[2022-05-04 10:29] jorsmatthys commented on #66
Perfect thanks :) I glanced at it earlier, but didn't have the time yet to look at it properly. Will test :)

[2022-05-04 17:06] ajilty commented on #51
@jorsmatthys We had a similar challenge. I think I got this working in a way that meets your needs as well. I grabbed the installation IDs for each Org that our App was installed on and added them to a matrix in a workflow file. A job is created for each Org/App Installation ID

[code]

[2022-05-04 18:29] jorsmatthys commented on #51
Hi @ajilty Thanks for the reply/example :) that is indeed a nice solution and it is what we ended up doing as well, we made a matrix that uses a list of organization details and a list of languages and runs the tool for every combination.

[2022-05-05 21:04] shreenivas-asurion opened #68 "build error"
I am trying to build this first time and I am getting the below error.
src/utils/worker.ts:27:39 - error TS2339: Property 'length' does not exist on type '{}'.

27   for (orgIndex = 0; orgIndex < repos.length; orgIndex++) {

Do I need to prefil the repos file? I thought the app does that and then I can run the npm run start?

I am running on MacOS, not sure if that is an issue. I had to do npm ins

[2022-05-06 19:19] shreenivas-asurion commented on #68
@NickLiffen forgot to tag you.
node --version
v16.13.1

[2022-05-06 20:17] ajilty commented on #68
I needed at least one repo in that file to make it work now and the element repos.enablePushProtection needed to be included.

[2022-05-09 08:42] NickLiffen commented on #68
I just raised #70 which should fix this 👍 Sorry for the problems 🙇

[2022-05-09 08:42] #68 closed

[2022-05-09 18:28] shreenivas-asurion commented on #68
Awesome, this looks good. Thanks. #70  👍

[2022-05-10 21:00] #61 closed

[2022-05-12 16:29] felickz opened #71 "yarn run build fails on initial clone"
yarn run build fails on initial clone

Creating repos.json is not optional - required for build

[2022-05-17 19:15] NickLiffen commented on #71
Thanks @felickz for raising this 🙇

Did you see within this section: [What does this tooling do?](https://github.com/NickLiffen/ghas-enablement#what-does-this-tooling-do), it says this: `Manually create repos.json or rename repos-sample.json -> repos.json in the bin folder.`.

The `repos.json` is not optional, correct 🙇

If you think this can be made clearer, please feel free to raise a pull reque

[2022-05-17 19:15] #71 closed

[2022-05-17 20:45] felickz commented on #71
Hmm no, I thought I searched the docs to verify 😒

I fully intended to follow up with this and not leave an empty issue - sorry!

[2022-05-23 14:18] maartengryp-liantis commented on #65
@NickLiffen any update on this issue?

[2022-05-23 14:24] eglenimbus commented on #65
@NickLiffen do you have any news here ?

[2022-05-26 12:47] timja opened #72 "Support public repositories with `secretscanning`, or `pushprotection`"
I hit a few issues when trying to run this repo.

1. repo.json was super confusing that I had to copy your sample repos.json before I could load repos with `yarn run getRepos`
2. Public repositories were filtered out with no option to enable it on
3. Advanced security was force enabled when `secretscanning` or `pushprotection` was enabled but public repositories always have AS enabled this caused

[2022-05-26 12:55] NickLiffen commented on #72
Thank you for this feedback 🙇

I am keen for your thoughts on how we could improve this:

[code]

The reason for this is we had people committing in large files of repos and we got feedback that this was 💩. So We changed it to stop that. Was the `README.md` not clear enough? I do want to make this experience better.

Are you a GHES (enterprise server) customer? Or a GHEC customer? The reason I ask

[2022-05-26 13:26] NickLiffen commented on #72
Will add this to the backlog 👍

hmmm 🤔 I know push protection is but secret scanning should be 🤔 anyway, thanks for the feedback 👍 you obviously ran into a bug, thanks for logging it 👍 I am working on another feature here, but after that will get around to fixing both these problems 🙇

[2022-05-30 08:15] NickLiffen commented on #65
This should now be fixed by #75, i will draft a new release now ❤️ Thanks for your patience 🙇

[2022-05-30 08:15] #65 closed

[2022-06-10 15:30] djredman99 opened #77 "GitHub App token times out after 1 hour"
The current implementation is limited with regards to the use of a GitHub App to serve as the identity, and the default timeout (60 minutes) of the JWT token returned by ocktokit for the GitHub App to authenticate with.

For longer running batches that will last more than 1 hour, the token will expire and start failing the subsequent API calls being made.

[2022-06-10 20:04] NickLiffen commented on #77
@djredman99 👋

Just to clarify, are you saying after 60 minutes the token doesn't refresh (as it should do this taking a look at the code 👀)

Or, are you saying you are making 1 request that takes longer than 60 minutes? E.G a `clone` is taking 60 minutes?

I am going to _guess_ it's the 1st point. If so, I will try and manually reset it _if_ it's timing out in the next 5 minutes 👍

[2022-06-15 00:00] djredman99 commented on #77
@NickLiffen

That is the experience they are getting...after 60 minutes the token is not refreshing and they start to receive timeout messaging.

[2022-06-22 20:43] djredman99 commented on #77
Going to close this as the issue seems to be resolved in PR #79

[2022-06-22 20:43] #77 closed

[2022-06-22 20:45] djredman99 opened #81 "User Feedback"
## Feedback from an Enterprise Customer

**Branch protection:** If there are branch protection rules  (in particular branches targeting * patterns) the PR creation and update part fails. Our solution in that regard was to proactively create another rule specific for the generated branch that will allow the update. there is perhaps a better approach, but I couldn't find anything that suggested that

[2022-08-03 12:34] basel-ui opened #85 "https 404 Error"
Hi Nick,

i have some issues with the npm run start command. There give me back that they have no access to the url what i written in the .env file. Can you help me with them ? I have added the errormessage and the .env file

[2022-08-03 12:49] NickLiffen commented on #85
In your `.env` you have two `ENABLE_ON` could you remove one of them, as such it's this:

[code]

(just to test it on these two please 🙇)

And just to triple check, you ran `npm run getRepos` firstly, and that ran successfully, correct?

Could you update the `.env` with the above value (`ENABLE_ON=codescanning,secretscanning`, re-run `npm run getRepos` and then run `npm run start` again please 🙇

[2022-08-03 13:13] basel-ui commented on #85
Hi Nick,

first of all thank you for the fast answer 😄

i have made the changes and i get the same error. Yeah for sure, i set the command npm run getRepos first, it also successfully gives me the repos.json with the collected repos.

**error-message:**
$ npm run getRepos
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

npm WARN config global `--global

[2022-08-03 13:24] NickLiffen commented on #85
@basel-ui 👋 question, is this an empty repo, Have there ever been any commits to this repository before? 🤔

[2022-08-03 17:32] #85 closed

[2022-08-03 18:32] NickLiffen commented on #85
@basel-ui I see you closed this out, I would love to know if this is working for you/if you need anything else from me?

[2022-08-03 18:53] basel-ui commented on #85
Yeah please, can you Delete my Ticket?
Thank you!

[2022-11-14 20:59] benhorgen opened #89 "Unable to apply CodeQL to any branch that is not the default branch"
When using the script, I wasn't able to apply the CodeQL setting to branches that are not the `default` branch for their repo.

For example, if I specify `develop` in the .yaml file it will be applied to repos with a default branch of `develop` **but will also apply the CodeQL setting to the default branch of the other repos listed in the `repos.json` file**.

In addition, it will not apply to the

[2022-11-14 21:53] benhorgen commented on #89
Hi @NickLiffen. I didn't have assigning privileges, but thought I'd tag you in the comments.

Regarding the questions in the readme:
- Windows, Linux, Codespaces or Mac
      Mac (VS Code)
- What version of NodeJS you are running.
       node v16.17.0
- Add any logs that appeared when you ran into the issue.
       There is a lot of console writelines about repos and languages, but nothing stands

[2022-11-20 19:16] NickLiffen commented on #89
Hey @benhorgen 👋

Firstly, it was LOVELY to see you last week at universe 〽️ 🥳

Secondly, sorry for the late reply here; this week has been focused on getting caught up with life and making sure everything is running as normal 👍 I hope you don't mind this slightly delayed response.

Okay, so you are correct in that behaviour, and that's actually by default as well.

We don't read the `branches: [*

[2022-11-22 15:23] elihu opened #90 "Just a minor typo"
Hi! just having a look at the code, found this minor typo. It really doesn't seems to affect functionality but just for let you know

https://github.com/NickLiffen/ghas-enablement/blob/b0af11dc7fd600808ac8e171511bc0e19390f147/types/common/index.d.ts#L2

Thanks for the tool, very useful!

[2022-11-22 20:43] NickLiffen commented on #90
Just fixed here: https://github.com/NickLiffen/ghas-enablement/commit/36817247066501c834cf0f3ddf86b214484a2f2d ❤️

Thank you for the call out ❤️

[2022-11-22 20:43] #90 closed